body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

section {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

section #background {
  display: block;
  width: 65%;
  height: 100vh;
  margin: auto;
  position: relative;
}

section #background img:first-child {
  width: auto;
  height: 100%;
}

section #background #cat {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 0;
  bottom: 0;
}
